@charset "UTF-8";
// mobile page nav

.pageNav{
	@include size-lh(100%,50px);
	background-color: #fff;
	@include flex();

	li{
		-webkit-flex: 1; flex: 1;
		height: 50px;

		a{
			display: block;
			@include size(100%,100%);
			overflow: hidden;
		}
		i{
			display: block;
			margin: 18px auto 0 auto;
			@include size(10px,10px);
			
			@include border((bottom,left),1px,solid,#797979);
		}
	}
@at-root{
	.pageNav-prev{
		@include rotate(45deg);
	}
	.pageNav-next{
		@include rotate(-135deg);
	}
}
}